@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
}

.win-search {
    background-color: #324075ff;
    border-radius: 9999px;
    border-top-color: white;
    align-items: center;
    padding-left: 1rem;
    height: 75%;
    margin-top: 0.15rem;
    border-top: solid gray 1px;
}

.win-search:hover {
    background-color: #3b4986;
}     

.back {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("/whallpaper.jpg"); /* /public/whallpaper.jpg */
  background-size: cover;    /* o 'contain' si no quieres recorte */
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* redundante con -z-10, pero seguro */
}



.win-search2 {
    background-color: rgba(25, 30, 49, 0.858);
    border-radius: 9999px;
    border-top-color: white;
    align-items: center;
    padding-left: 1rem;
    height: 95%;
    border: solid rgba(128, 128, 128, 0.244) 1px;
}

.win-search2:hover {
    background-color: #3b4986;
}     

.back {
  background-image: url("/whallpaper.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}
