@tailwind base;
@tailwind components;
@tailwind utilities;

.win-search {
    background-color: #324075ff;
    border-radius: 9999px;
    border-top-color: white;
    align-items: center;
    padding-left: 1rem;
    height: 75%;
    margin-top: 0.15rem;
    border-top: solid gray 1px;
}

.win-search:hover {
    background-color: #3b4986;
}     